.btnDelete {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 30px;
  background-color: blue;
  border: transparent;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
